[Unit]
Description=miqtt
After=multi-user.target

[Service]
Type=idle
User=jserrats
WorkingDirectory=/home/jserrats/ts-assistant/apps/miqtt
ExecStart=/home/jserrats/.nvm/versions/node/v20.20.0/bin/node /home/jserrats/ts-assistant/apps/miqtt/dist/main.js
Environment=MQTT_SERVER=mqtt.jserrats.xyz

[Install]
WantedBy=multi-user.target
