name: publish-telegram-bridge

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'apps/telegram-bridge/**'
      - 'packages/mqtt-assistant/**'
  pull_request:
    paths:
      - 'apps/telegram-bridge/**'

permissions:
  actions: read
  contents: read
  packages: write

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    with:
      app: telegram-bridge