name: publish-miqtt
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'apps/miqtt/**'
      - 'packages/mqtt-assistant/**'
  pull_request:
    paths:
      - 'apps/miqtt/**'

permissions:
  actions: read
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/miqtt/Dockerfile
          platforms: linux/arm/v7,linux/amd64
          push: true
          tags: ghcr.io/${{ github.repository }}/miqtt:latest